[Desktop Entry]
Name=Screenshot (file)
Comment=Save a screenshot to "~/Pictures/Screenshots"
Exec=hyprshot -m region -o $HOME/Pictures/Screenshots
Terminal=false
Type=Application
Categories=System;
Keywords=screenshot;file;
