[Desktop Entry]
Name=Wifi VisualCortex
Comment=Connect to wifi
Exec=nmcli connection up vc-priv
Terminal=false
Type=Application
Categories=System;
Keywords=wifi;
